*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    height: 100%;

}

.wrapper {
    position: relative;
    left: 14.5%;
    height: 100%;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.wrapper div {
    
}

.sidebar {
    grid-row: 1 / 3;

    background-color: #0098eb;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar div {
    margin-left: 1rem;
}

.sidebar_header {
    margin-top: 1rem;
}

.sidebar p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main_content {
    background-color: #dce5f5;
}

.header {
    box-shadow: 0px 3px 8px -2px rgba(128, 128, 128, 0.411);
    z-index: 2;
}