*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    height: 100%;

}

.wrapper {
    position: relative;
    left: 14.5%;
    height: 100%;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* sidebar */

.sidebar {
    grid-row: 1 / 3;

    background-color: #0098eb;
    color: white;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar div {
    margin-left: 1rem;
}

.sidebar_header {
    margin-top: 1rem;
}

.sidebar p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 3rem;
    position: relative;
}

.sidebar p:hover {
    cursor: pointer;
    color: rgb(176, 202, 253);
}

p i {
    font-size: 1.2rem;

    display: inline-block;
    position: absolute;
    left: -20%;
    top: 14%;
}

.sidebar_header h1 {
    margin-left: 2.9rem;
}

h1 i {
    font-size: 2rem;
    display: inline-block;
    position: absolute;
    left: 1.4%;
    top: 1.9%;
}

/* header */

.header {
    box-shadow: 0px 3px 8px -2px rgba(128, 128, 128, 0.411);
    z-index: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    margin-right: 1.2rem;
}

.header input {
    border: none;
    border-radius: 1rem;
    width: 85%;
    background-color: #e2ebfc;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
}

.header input:focus {
    outline: 2px solid #0098eb;
}

.button_area {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-right: 3rem;
}

.button_area button {
    flex: 1;
    height: 50%;
    background-color: #0098eb;
    border-style: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.user_area {
    position: relative;
    /* padding-right: 4rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_area p {
    float: right;
    display: block;
    font-size: 1.2rem;
}

.user_area i {
    position: absolute;
    left: 15%;
    top: 40%;
}

/* main content */

.main_content {
    background-color: #e2ebfc;

    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.projects {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;

    padding: 3.8rem 1rem;
}

.card {
    border-left: 8px solid orange;

    padding: 1.5rem 1rem;
}

.card h1 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.card p {
    color: rgb(78, 78, 78);
    line-height: 1.2;
}

.projects::before {
    position: absolute;
    content: "Projects";
    left: 1rem;
    top: 2rem;

    font-size: 1.3rem;
    font-weight: bold;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;

    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    padding-right: 2rem;
}

.card, .announcement_card, .trending_card {
    border-radius: 0.5rem;
    background-color: white;
}

.announcement_card {
    position: relative;
    padding: 1.5rem 1rem; 
}

.announcement_card div {
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1.5px solid rgba(78, 78, 78, 0.164);
}

.announcement_card div:last-child {
    border-bottom: none;
}

.announcement_card h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.announcement_card p {
    font-size: 0.8rem;
    color: rgb(78, 78, 78);
}

.announcement_card::before {
    position: absolute;
    content: "Announcements";

    font-size: 1.3rem;
    font-weight: bold;

    top: -2rem;
}

.trending_card {
    position: relative;
}

.trending_card::before {
    position: absolute;
    content: "Trending";

    font-size: 1.2rem;
    font-weight: bold;

    top: -2rem;
}
